@import "@phalleux/jsf-tailwind-config";
@import "@phalleux/jsf-react/dist/jsf-react.css";

.cm-theme,
.cm-editor {
  height: 100%;
  font-family: monospace !important;

  .cm-gutter {
    min-width: 32px;
  }
}

body {
  font-family: 'Inter', sans-serif;
}